<header class="font-bold text-2xl flex justify-start items-center gap-2 px-3 py-3 mb-2 w-full">
	<img src="../../../assets/logo.jpg" class="w-12 h-12" alt="">
	<h1 *ngIf="!collapsedStatus">Optilab</h1>
</header>
  

    <div class="overflow-y-auto overflow-x-hidden flex-grow  max-h-[74vh] pr-9   max-w-full self-end">
      <ul  class="flex flex-col py-4 space-y-1">
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-xs font-semibold tracking-wide text-[#2a3547
]">Menu</div>
          </div>
        </li>
        <li *ngIf="!isUser">
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6"  [routerLink]="['/dashboard']" routerLinkActive="active" >
            <span class="inline-flex justify-center items-center ml-4 ">
              <svg class="w-4 h-4 font-semibold" fill="none" stroke="#2a3547
              " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/user/profile" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-4 h-4" fill="none" stroke="#2a3547" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Profile</span>
          </a>
        </li>
        <li>
          <a *ngIf="!isUser" href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6" [routerLink]="['/dashboard/labos']" routerLinkActive="active" >
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-4 h-4" fill="none" stroke="#2a3547" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path></svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Laboratoires</span>
          </a>
        </li>
        
        <li>
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-4 h-4" fill="none" stroke="#2a3547" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Notifications</span>
            <span *ngIf="!collapsedStatus" class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">1.2k</span>
          </a>
        </li>
        <li *ngIf="!isUser" class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Tasks</div>
          </div>
        </li>
        <li *ngIf="isUser">
          <a href="/user/folders" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-4 h-4" fill="none" stroke="#2a3547" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Your Analyses</span>
          </a>
        </li>
        <li *ngIf="isUser">
          <a href="/user/folders" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-4 h-4" fill="none" stroke="#2a3547" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Medical Folders</span>
          </a>
        </li>
        <li>
          <a href="/user/support" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-4 h-4" fill="none" stroke="#2a3547" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Message Support</span>
          </a>
        </li>
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Settings</div>
          </div>
        </li>
        
        <li>
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-5 h-5" fill="none" stroke="#2a3547" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
            </span>
            <span *ngIf="!collapsedStatus" class="ml-4 text-xs font-medium tracking-wide truncate text-[#2a3547
            ]">Settings</span>
          </a>
        </li>
      </ul>
    </div>

    <button *ngIf="!collapsedStatus" type="button" class="flex items-center text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><svg class="font-bold" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 -960 960 960" width="24px" fill="#ffff"><path stroke-width="3" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>SignOut</button>
