<section class="min-h-screen grid md:grid-cols-[auto,1fr] grid-cols-[1fr] grid-rows-[1fr] gap-2">
  <!-- Main Content Section -->
  <div [class.md:ml-[80px]]="collapsed" class="col-start-2 col-end-3 row-start-1 row-end-2 md:ml-[268px] transition-all ease-in-out duration-600">
    <app-header  (openDialog)="toggleVisibility()" (toggle)="toggleMenu()"></app-header>
    <router-outlet></router-outlet>
  </div>

  <!-- Sidebar Section -->
  <app-sider [isUser]="isUser" [collapsedStatus]="collapsed" [class.md:w-[80px]]="collapsed"
    class="fixed top-0 left-0 min-h-full col-start-1 col-end-2 row-start-1 row-end-2 border-slate-200 border-r-[1px] md:w-[268px] flex flex-col justify-start items-center transition-all ease-in-out duration-600 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
  </app-sider>

  <!-- Profile According Component, Only shown if isVisible is true -->
  <div *ngIf="isVisible" (hideDialog)="hide()">
    <app-profile-according></app-profile-according>
  </div>
</section>
